# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files
cscope.*
tags
*.cmake
CMakeFiles/
Makefile
pro_si/
*.IAB
*.IAD
*.I*
*.P*

# text
*.txt

# tmp files
.swp
